name: "AutoPR: Create PRs into release branches"
env:
    SOURCE_BRANCH: main
on:
    push:
        branches:
            - main

jobs:
    create-pr:
        # if: github.repository == 'natcap/invest'
        name: "PR main into release branches"
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v5
              with:
                  fetch-depth: 0  # grab all history for all branches, tags

            - run: git fetch origin +refs/tags/*:refs/tags/*

            # needed for envsubst
            - name: Install dependencies
              run: sudo apt-get update && sudo apt-get install gettext-base


            - name: Open a PR into each open release branch
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  SOURCE_BRANCH: ${{ env.SOURCE_BRANCH }}
              run: |
                  set -x

                  # Get the number of the last PR merged into main.
                  # This assumes that the default PR message was used and includes
                  # the pattern #[1-9][0-9]*.
                  PR_NUM=$(git log -1 --pretty=%B main | head -n1 | egrep -o '#[1-9][0-9]*' | sed 's|#||g')

                  # Get the username of the person who opened up the last PR into `main`.
                  PR_USERNAME=$(gh pr view --json author $PR_NUM | jq -j '.author.login')
                  echo "Latest PR on main ($PR_NUM) was authored by $PR_USERNAME."

                  # Using grep with pattern ^release filters out any autorelease branches.
                  # If no release branches are found, exit github actions.
                  BRANCHES=$(git ls-remote --heads origin | cut -d '/' -f 3- | grep ^release || echo '')
                  if [ -z "$BRANCHES" ]
                  then
                      echo "No release branches found; exiting github actions workflow."
                      exit 0
                  fi

                  echo $BRANCHES  # debugging
                  ERRORSPRESENT=0
                  for BRANCH in $BRANCHES
                    do
                        # Always start from main
                        git checkout main

                        # Create a new autopr branch.
                        SHORTREV=$(git rev-parse main)
                        AUTOPR_BRANCH="autopr/${SHORTREV}-${BRANCH}"
                        git checkout -b "${AUTOPR_BRANCH}"
                        git push ${AUTOPR_BRANCH}

                        export RELEASE_BRANCH=$BRANCH  # needed for envsubst
                        PR_BODY_FILE=pr_body.txt
                        cat .github/auto-main-into-release-pr-body.md | envsubst > $PR_BODY_FILE
                        cat $PR_BODY_FILE  # for debugging

                        PR_TITLE="[Auto-generated] Merge main into $BRANCH"

                        # Skip this branch if a PR from main into $BRANCH already exists.
                        EXISTING_PR=$(gh pr list --search "$PR_TITLE in:title" || echo '')
                        if ! [ -z "$EXISTING_PR" ]
                        then
                            echo "PR into $BRANCH already exists; skipping."
                            continue
                        fi

                        # This PR will be assigned to $GITHUB_ACTOR, which should be
                        # the person who merged the PR that caused this commit to be
                        # created. Others could of course be assigned later.
                        FAILED=0
                        gh pr create \
                            --head ${AUTOPR_BRANCH} \
                            --base ${RELEASE_BRANCH} \
                            --reviewer "${PR_USERNAME}" \
                            --assignee "${PR_USERNAME}" \
                            --label "auto" \
                            --title "${PR_TITLE}" \
                            --body-file $PR_BODY_FILE || FAILED=1

                        if [[ $FAILED -eq 1 ]]
                        then
                            echo "PR failed; deleting autopr branch"
                            git branch -D ${AUTOPR_BRANCH}
                            ERRORSPRESENT=$((${ERRORSPRESENT} | 1))
                        fi
                    done

                    if [[ $ERRORSPRESENT -gt 0 ]]
                    then
                        echo "At least one of the PRs failed and might need to be revisited."
                        exit 1
                    fi
